[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes
[submodule "bundle/vim-distinguished"]
	path = bundle/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/gtags.vim"]
	path = bundle/gtags.vim
	url = git://github.com/vim-scripts/gtags.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
